<a href="https://colab.research.google.com/github/snipaid-nlg/datasets/blob/main/evaluation/german-news-dataset-by-steven-mi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!unzip "/content/drive/MyDrive/SnipAId2023/Datasets/german-news-dataset.zip" -d german-news-dataset

Archive:  /content/drive/MyDrive/SnipAId2023/Datasets/german-news-dataset.zip
  inflating: german-news-dataset/data.csv

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/german-news-dataset/data.csv")

In [ ]:
df.head()

,title,text,author,published,tags,source
0,Warum nicht mal die Russen Putins Impfstoff wo...,Im Kreml sollte es in diesen Tagen eigentlich ...,Pavel Lokshin,1602234820,"Ausland, „Sputnik V“",welt
1,Mario Götze schwärmt von Schmidts Philosophie,NaN,NaN,1602234283,"Sport, PSV Eindhoven",welt
2,Welternährungsprogramm erhält den Friedensnobe...,Der Preis setze ein Zeichen für die Millionen ...,"'Hannes Stein', 'Birgit Herden', 'Dirk Schümer...",1602234160,"Ausland, Oslo",welt
3,Welternährungsprogramm erhält den Friedensnobe...,NaN,NaN,1602234057,"Panorama, Entscheidung in Oslo",welt
4,In welchen deutschen Großstädten die Lage krit...,Die Kanzlerin berät mit den Bürgermeistern der...,"'Daniele Raffaele Gambone', 'Christoph B. Schi...",1602233883,"Deutschland, Corona-Pandemie",welt

We don't need the columns Author and tags, therefore removing them from the dataframe

In [ ]:
df = df.drop(["author", "tags"], axis=1)

## Source Distribution

In [ ]:
df["source"].value_counts()

bild                          17622
mainpost                      14265
sueddeutche                   12999
spiegel                       12584
faz                           11085
welt                          10233
tagesspiegel                   9547
focus                          9277
zeit                           7193
berliner-zeitung               7118
handelsblatt                   6681
heise                          6007
taz                            5370
stuttgarter-zeitung            3027
tag24                          1946
wz                             1658
ikz-online                      931
idowa                           762
express                         539
haller-kreisblatt               491
landeszeitung                   477
kn-online                       456
esslinger-zeitung               397
goettinger-tageblatt            373
ksta                            352
hna                             312
weser-kurier                    307
hersfelder-zeitung              292
bz-berlin                       282
dnn                             250
gmuender-tagespost              248
fuldaerzeitung                  222
wetterauer-zeitung              187
kurier                          178
fehmarn24                       177
waz-online                      164
hertener-allgemeine             134
hanauer                         107
kreiszeitung                    105
giessener-allgemeine             86
kornwestheimer-zeitung           77
gandersheimer-kreisblatt         47
kevelaerer-blatt                 43
lahrer-zeitung                   42
deutsche-handwerks-zeitung       36
chrismon                         29
torgauerzeitung                  24
freitag                           2
Name: source, dtype: int64

## NaNs

There are 7659 records without a fulltext

In [ ]:
df["text"].isna().sum()

7659

and 22 records with the string "NaN in the fulltext column

In [ ]:
df["text"].str.count("NaN").sum()

0

In [ ]:
df = df.dropna(subset=['text'])

In [ ]:
df = df[df["text"].str.contains("NaN")==False]

In [ ]:
df

,title,text,published,source
0,Warum nicht mal die Russen Putins Impfstoff wo...,Im Kreml sollte es in diesen Tagen eigentlich ...,1602234820,welt
2,Welternährungsprogramm erhält den Friedensnobe...,Der Preis setze ein Zeichen für die Millionen ...,1602234160,welt
4,In welchen deutschen Großstädten die Lage krit...,Die Kanzlerin berät mit den Bürgermeistern der...,1602233883,welt
7,"Klopp beschreibt den Moment, als er vom Liverp...","Anzeige\n\nWie die Zeit vergeht, merkt auch er...",1602233011,welt
8,Das beste FIFA aller Zeiten – mit einem großen...,Anzeige\n\nDie Corona-Krise hat auch vor dem e...,1602232402,welt
...,...,...,...,...
174934,Jahrmarkt fällt Coronavirus zum Opfer,04.09.2020 | 05:41\n\nGreene. „Bis zuletzt hab...,1599198060,gandersheimer-kreisblatt
174935,Jubiläum mit Feierstunde „open air“ gewürdigt:...,03.09.2020 | 20:42\n\nWillershausen. Das 100-j...,1599165720,gandersheimer-kreisblatt
174936,Finanzamt: Ab 1. Dezember Goslar-Bad Gandersheim,Bad Gandersheim. Die Entwicklung ist bereits i...,1599112440,gandersheimer-kreisblatt
174937,Corona-Ferienpass: Stadtjugendpfleger zieht Er...,03.09.2020 | 05:53\n\nBad Gandersheim. Das war...,1599112380,gandersheimer-kreisblatt
174938,Freibadsaison im Waldschwimmbad Düderode endet...,03.09.2020 | 05:52\n\nDüderode. Eine nicht nur...,1599112320,gandersheimer-kreisblatt

## Duplicates (Title)

In [ ]:
df[df.duplicated(['title'])]

Empty DataFrame
Columns: [title, text, published, source]
Index: []

In [ ]:
df.drop_duplicates(["title"], keep="first", inplace=True)

In [ ]:
df[df.duplicated(['text'])]

Empty DataFrame
Columns: [title, text, published, source]
Index: []

In [ ]:
df.drop_duplicates(["text"], keep="first", inplace=True)

In [ ]:
df

,title,text,published,source
0,Warum nicht mal die Russen Putins Impfstoff wo...,Im Kreml sollte es in diesen Tagen eigentlich ...,1602234820,welt
2,Welternährungsprogramm erhält den Friedensnobe...,Der Preis setze ein Zeichen für die Millionen ...,1602234160,welt
4,In welchen deutschen Großstädten die Lage krit...,Die Kanzlerin berät mit den Bürgermeistern der...,1602233883,welt
7,"Klopp beschreibt den Moment, als er vom Liverp...","Anzeige\n\nWie die Zeit vergeht, merkt auch er...",1602233011,welt
8,Das beste FIFA aller Zeiten – mit einem großen...,Anzeige\n\nDie Corona-Krise hat auch vor dem e...,1602232402,welt
...,...,...,...,...
174934,Jahrmarkt fällt Coronavirus zum Opfer,04.09.2020 | 05:41\n\nGreene. „Bis zuletzt hab...,1599198060,gandersheimer-kreisblatt
174935,Jubiläum mit Feierstunde „open air“ gewürdigt:...,03.09.2020 | 20:42\n\nWillershausen. Das 100-j...,1599165720,gandersheimer-kreisblatt
174936,Finanzamt: Ab 1. Dezember Goslar-Bad Gandersheim,Bad Gandersheim. Die Entwicklung ist bereits i...,1599112440,gandersheimer-kreisblatt
174937,Corona-Ferienpass: Stadtjugendpfleger zieht Er...,03.09.2020 | 05:53\n\nBad Gandersheim. Das war...,1599112380,gandersheimer-kreisblatt
174938,Freibadsaison im Waldschwimmbad Düderode endet...,03.09.2020 | 05:52\n\nDüderode. Eine nicht nur...,1599112320,gandersheimer-kreisblatt

## Sample Quality Check

In [ ]:
pd.set_option('display.max_colwidth', None)

In [ ]:
df["title"].sample(25)

117021                       *** BILDplus Inhalt *** Bayern-Noten zum Supercup - Eine Eins – aber für Alaba gibt’s die 4
50330                                                           Mit neuen Öffnungszeiten: Hamburger Fischmarkt gerettet!
75265                                                                                     Luxusmakler: Reich sucht schön
6414                                                                          Der Machtkampf zwischen zwei Top-Anklägern
164701                                                                               Coronavirus: Ein ganzes halbes Jahr
82726                                           Nationalfeiertag mit Laschet und Spahn: Frankreich ehrt besondere Helden
4159                                                                               Elon Musk bekommt Axel Springer Award
66053                                                      Vereinigte Staaten: Was der Börsengang Curevac bringen könnte
51136                                                       MOPO-Herbstwanderung: Auf Schusters Rappen durch die Heimat!
32715          Sibirien brennt - 38-Grad-Superschmelze in der Arktis: Polarfront-Jet löst rätselhaftes Klimaphänomen aus
144647                                                 Donald Trump über Demokraten: "Sie versuchen die Wahl zu stehlen"
80076                                                  Netflix in der Kritik: Sexualisierung von minderjährigen Mädchen?
39994                                                                               Dänemark lockert die Grenzkontrollen
145662                                                     Barack Obama beschreibt Donald Trump als "völlig hemmungslos"
66160                                                            Augsburg: Prozess nach tödlicher Attacke am Königsplatz
142920                                                   Städtetag kritisiert weitere Warnstreiks im öffentlichen Dienst
32204     Von wegen „Graue Maus“ - Skurril: NBA-Star trägt antik-knalliges Kult-Trikot des VfL Bochum als Mode-Statement
110954                                                    In Deutschland wächst eine Generation der Nichtschwimmer heran
57068                                                                       Bericht: 85 Kitas von Schließungen betroffen
54782                                                               Dortmund setzt zum Saisonauftakt ein starkes Zeichen
74288                                                               Urteil in Augsburg: Was passiert ist - und was nicht
78180                                    Digitale Fernprüfung: Drittel eines Hochschulkurses schreibt ab und fällt durch
66155                                                                Kempten: Die B 12 ist der schnellste Weg ins Allgäu
160091                                                                      Unachtsam abgebogen, 20 000 Euro Sachschaden
97889                             Nach Tod von Jugendspieler: Klub äußert sich – Nachbar-Verein startet besondere Aktion
Name: title, dtype: object

In [ ]:
df["title"].str.count("&#034;").sum()

3762

Found some HTML Chars in title col

In [ ]:
df['title'] = df['title'].str.replace('&#034;','"')

Found some trainling and leading spaces and strip them

In [ ]:
df['title'] = df["title"].str.strip()

Found "\*\*\* BILDplus Inhalt \*\*\*" and removing it from title

In [ ]:
df["title"].str.count("\*\*\* BILDplus Inhalt \*\*\*").sum()

5014

In [ ]:
df['title'] = df['title'].str.replace("\*\*\* BILDplus Inhalt \*\*\*",'', regex=True)

In [ ]:
df["title"].str.count("<").sum()

267

In [ ]:
df["title"].str.count(">").sum()

275

In [ ]:
df["title"].str.count("&").sum()

920

In [ ]:
df["title"].str.count("heise+").sum()

799

In [ ]:
df['title'] = df['title'].str.replace("heise+ | ",'', regex=True)